body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
}
