img {
  width: 180px;
}

.login2-container {
  max-width: 1300px;
}

.category-card {
  min-width: 100%;
  max-height: 100px;
  /* max-width: 200px; */
  /* max-height: 30px; */
  text-align: center;
}

.App {
}
