body{
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

#permission_cell:hover{
  background-color: pink;
}


img {
  width: 180px;
}

.login2-container {
  max-width: 1300px;
}

.category-card {
  min-width: 100%;
  max-height: 100px;

  text-align: center;
}

.historyInput{
 margin-left: 30%;
 margin-bottom: 10px;
}