.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.349);
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
}

.navBar .nav {
  display: flex;
  gap: 35px;
}

/* .navBar .logo {
  background-image: url("../img/shopify_logo.png");
  width: 150px;
  height: 150px;
} */

.navBar a {
  text-decoration: none;
  color: black;
}

.bx-cart {
  font-size: 50px;
  color: black;
}

.bxl-shopify {
  font-size: 50px;
  color: black;
}
