.navBar {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.349);
  margin-bottom: 20px;
  text-align: center;
}

.navBar .nav {
  display: flex;
  gap: 3rem;
}

/* .navBar .logo {
  background-image: url("../img/shopify_logo.png");
  width: 150px;
  height: 150px;
} */

.navBar a {
  text-decoration: none;
  color: black;
}

.bx-cart {
  font-size: 3rem;
  color: black;
}

.bxl-shopify {
  font-size: 3rem;
  color: black;
}

.bx-cart {
  font-size: 2rem;
}
